<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.starikov.bpo1802.whereami">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/icon_where_am_i"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_where_am_i"
            android:supportsRtl="true"

            android:theme="@style/Theme.WhereAmI">
        <activity android:name=".ResultActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".GameActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SelectSide"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SelectFloor"
                  android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>